.toggle {
  margin-left: 50px;
  margin-right: 14px;
  &__input {
    display: none;
    &:checked + label {
      position: relative;
      &::after {
        left: -25px;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      }
      &::before {
        border: 1px solid #bc9cff;
      }
    }
  }

  &__label {
    position: relative;
    color: rgba(31, 32, 65, 0.75);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -50px;
      width: 40px;
      height: 20px;
      background: #ffffff;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 10px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 4px;
      left: -45px;
      width: 12px;
      height: 12px;
      background: rgba(31, 32, 65, 0.25);
      border-radius: 10px;
      transition: all 150ms ease;
    }
  }
}
