@use '../../../../styles/mixins' as *;

.btn {
  padding: toRem(10) toRem(20) toRem(9) toRem(20);
  border-radius: 22px;
  background-color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  &_shallow {
    padding: toRem(8) toRem(18) toRem(7) toRem(18);
    border-radius: 22px;
    background-clip: padding-box;
    border: solid 2px transparent;
    color: #bc9cff;
    background-color: #fff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: 22px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }

  &_filled {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: white;

    &_big {
      width: 320px;
      height: 44px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        background: url(../static/images/arrow_forward_white.svg) center
          no-repeat;
      }
    }
  }
}
