@function toRem($px) {
  $result: $px / 16 * 1rem;
  @return $result;
}

@mixin head1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: toRem(24);
  line-height: toRem(29);
  color: #1f2041;
}

@mixin card-wrapper($height) {
  width: 380px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  height: toRem($height);
}
