// Fonts
@import "./fonts.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(33, 133, 151);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: auto;
}

.img {
  max-width: 10rem;
}
