.nav {
  &__menu {
    display: flex;

    &_vertical {
      flex-flow: column;

      & > .nav__item + .nav__item {
        margin-left: 0;
      }

      & > .nav__item {
        margin-bottom: 10px;
      }
    }
  }

  &__item {
    & + & {
      margin-left: 20px;
    }

    &_dropdown {
      position: relative;
      margin-right: 25px;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: -24px;
        width: 24px;
        height: 21px;
        margin-top: 2px;
        background: url(../static/images/expand_more.svg) center no-repeat;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);

    &_active {
      color: rgba(31, 32, 65, 0.75);
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 950px) {
  .header.nav {
    &__menu {
      flex-flow: column;
      align-items: center;
    }

    &__link {
      color: white;
    }

    &__item {
      margin-bottom: 30px;
      color: white;

      &_dropdown {
        margin-right: 0;
      }
    }
  }

  .nav__item + .nav__item {
    margin-left: 0;
  }
}
