.calendar {
  position: absolute;
  content: "";
  top: 74px;
  left: 0;
  width: 320px;
  height: 369px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  user-select: none;

  &_hidden {
    display: none;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1f2041;
  }

  &__btn {
    width: 24px;
    height: 24px;

    &_back {
      background: url(../static/images/arrow_back.svg) center no-repeat;
    }

    &_forward {
      transform: rotateZ(180deg);
      background: url(../static/images/arrow_back.svg) center no-repeat;
    }
  }

  &__week-days,
  &__month-days {
    display: flex;
    flex-flow: row wrap;
  }

  &__week-day,
  &__month-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39.7px;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #bc9cff;
    border-radius: 22px;
  }

  &__month-day {
    color: rgba(31, 32, 65, 0.5);
    &:hover {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      color: white;
    }

    &_selected {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      color: white;
    }

    &_prev,
    &_next {
      color: rgba(31, 32, 65, 0.25);
    }
  }
}
